@import "tailwindcss";

@font-face {
  font-family: "Peridot PE";
  src: url("/fonts/Peridot-PE.otf") format("opentype");
}

@theme {
  --font-peridot: "Peridot PE", sans-serif;
  --color-valentine-pink: #FF307C;
  --color-valentine-dark: #8B0033;
  --color-valentine-base: #AB124A;
  --color-valentine-base-dark: #4C0620;
  --color-valentine-card-light: #FEBEE6;
  --color-valentine-card-dark: #FF41B6;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}